// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
}

form.bp {
  @include blueprint-form;
  // You'll probably want to remove the scaffolding once you start styling your site.
  @include blueprint-scaffolding;
}

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.two-col {
  #container {
    @include container;
  }
  #header, #footer {
    @include column($blueprint-grid-columns);
  }
  #sidebar {
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    $sidebar-columns: floor($blueprint-grid-columns / 3);
    @include column($sidebar-columns);
  }
  #content {
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    $content-columns: ceil(2 * $blueprint-grid-columns / 3);
    // true means it's the last column in the row
    @include column($content-columns, true);
  }
}



//Font Face
@font-face {
    font-family: 'SourceSansProExtraLight';
    src: url('../fonts/SourceSansPro-ExtraLight-webfont.eot');
    src: url('../fonts/SourceSansPro-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-ExtraLight-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-ExtraLight-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-ExtraLight-webfont.svg#SourceSansProExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProExtraLightItalic';
    src: url('../fonts/SourceSansPro-ExtraLightIt-webfont.eot');
    src: url('../fonts/SourceSansPro-ExtraLightIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-ExtraLightIt-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-ExtraLightIt-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-ExtraLightIt-webfont.svg#SourceSansProExtraLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProLight';
    src: url('../fonts/SourceSansPro-Light-webfont.eot');
    src: url('../fonts/SourceSansPro-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Light-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-Light-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Light-webfont.svg#SourceSansProLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProLightItalic';
    src: url('../fonts/SourceSansPro-LightIt-webfont.eot');
    src: url('../fonts/SourceSansPro-LightIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-LightIt-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-LightIt-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-LightIt-webfont.svg#SourceSansProLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProRegular';
    src: url('../fonts/SourceSansPro-Regular-webfont.eot');
    src: url('../fonts/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Regular-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-Regular-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Regular-webfont.svg#SourceSansProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProItalic';
    src: url('../fonts/SourceSansPro-It-webfont.eot');
    src: url('../fonts/SourceSansPro-It-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-It-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-It-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-It-webfont.svg#SourceSansProItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProSemibold';
    src: url('../fonts/SourceSansPro-Semibold-webfont.eot');
    src: url('../fonts/SourceSansPro-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Semibold-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Semibold-webfont.svg#SourceSansProSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProSemiboldItalic';
    src: url('../fonts/SourceSansPro-SemiboldIt-webfont.eot');
    src: url('../fonts/SourceSansPro-SemiboldIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-SemiboldIt-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-SemiboldIt-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-SemiboldIt-webfont.svg#SourceSansProSemiboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProBold';
    src: url('../fonts/SourceSansPro-Bold-webfont.eot');
    src: url('../fonts/SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Bold-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-Bold-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Bold-webfont.svg#SourceSansProBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProBoldItalic';
    src: url('../fonts/SourceSansPro-BoldIt-webfont.eot');
    src: url('../fonts/SourceSansPro-BoldIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-BoldIt-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-BoldIt-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-BoldIt-webfont.svg#SourceSansProBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProBlack';
    src: url('../fonts/SourceSansPro-Black-webfont.eot');
    src: url('../fonts/SourceSansPro-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Black-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-Black-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Black-webfont.svg#SourceSansProBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProBlackItalic';
    src: url('../fonts/SourceSansPro-BlackIt-webfont.eot');
    src: url('../fonts/SourceSansPro-BlackIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-BlackIt-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-BlackIt-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-BlackIt-webfont.svg#SourceSansProBlackItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face { font-family: 'IconicFill'; src: url('../fonts/iconic_fill.eot'); src: url('../fonts/iconic_fill.eot?#iefix') format('embedded-opentype'), url('../fonts/iconic_fill.ttf') format('truetype'), url('../fonts/iconic_fill.svg#iconic') format('svg'); font-weight: normal; font-style: normal; }.iconic { display:inline-block; font-family: 'IconicFill'; }.lightbulb:before {content:'\e063';}.equalizer:before {content:'\e052';}.brush_alt:before {content:'\e01c';}.move:before {content:'\e03e';}.tag_fill:before {content:'\e02b';}.book_alt2:before {content:'\e06a';}.layers:before {content:'\e01f';}.chat_alt_fill:before {content:'\e007';}.layers_alt:before {content:'\e020';}.cloud_upload:before {content:'\e045';}.chart_alt:before {content:'\e029';}.fullscreen_exit_alt:before {content:'\e051';}.cloud_download:before {content:'\e044';}.paperclip:before {content:'\e08a';}.heart_fill:before {content:'\2764';}.mail:before {content:'\2709';}.pen_alt_fill:before {content:'\e005';}.check_alt:before {content:'\2718';}.battery_charging:before {content:'\e05d';}.lock_fill:before {content:'\e075';}.stop:before {content:'\e04a';}.arrow_up:before {content:'\2191';}.move_horizontal:before {content:'\e038';}.compass:before {content:'\e021';}.minus_alt:before {content:'\e009';}.battery_empty:before {content:'\e05c';}.comment_fill:before {content:'\e06d';}.map_pin_alt:before {content:'\e002';}.question_mark:before {content:'\003f';}.list:before {content:'\e055';}.upload:before {content:'\e043';}.reload:before {content:'\e030';}.loop_alt4:before {content:'\e035';}.loop_alt3:before {content:'\e034';}.loop_alt2:before {content:'\e033';}.loop_alt1:before {content:'\e032';}.left_quote:before {content:'\275d';}.x:before {content:'\2713';}.last:before {content:'\e04d';}.bars:before {content:'\e06f';}.arrow_left:before {content:'\2190';}.arrow_down:before {content:'\2193';}.download:before {content:'\e042';}.home:before {content:'\2302';}.calendar:before {content:'\e001';}.right_quote_alt:before {content:'\e012';}.unlock_fill:before {content:'\e076';}.fullscreen:before {content:'\e04e';}.dial:before {content:'\e058';}.plus_alt:before {content:'\e008';}.clock:before {content:'\e079';}.movie:before {content:'\e060';}.steering_wheel:before {content:'\e024';}.pen:before {content:'\270e';}.pin:before {content:'\e067';}.denied:before {content:'\26d4';}.left_quote_alt:before {content:'\e011';}.volume_mute:before {content:'\e071';}.umbrella:before {content:'\2602';}.list_nested:before {content:'\e056';}.arrow_up_alt1:before {content:'\e014';}.undo:before {content:'\e02f';}.pause:before {content:'\e049';}.bolt:before {content:'\26a1';}.article:before {content:'\e053';}.read_more:before {content:'\e054';}.beaker:before {content:'\e023';}.beaker_alt:before {content:'\e010';}.battery_full:before {content:'\e073';}.arrow_right:before {content:'\2192';}.iphone:before {content:'\e06e';}.arrow_up_alt2:before {content:'\e018';}.cog:before {content:'\2699';}.award_fill:before {content:'\e022';}.first:before {content:'\e04c';}.trash_fill:before {content:'\e05a';}.image:before {content:'\e027';}.comment_alt1_fill:before {content:'\e003';}.cd:before {content:'\e064';}.right_quote:before {content:'\275e';}.brush:before {content:'\e01b';}.cloud:before {content:'\2601';}.eye:before {content:'\e025';}.play_alt:before {content:'\e048';}.transfer:before {content:'\e041';}.pen_alt2:before {content:'\e006';}.camera:before {content:'\e070';}.move_horizontal_alt2:before {content:'\e03a';}.curved_arrow:before {content:'\2935';}.move_horizontal_alt1:before {content:'\e039';}.aperture:before {content:'\e026';}.reload_alt:before {content:'\e031';}.magnifying_glass:before {content:'\e074';}.calendar_alt_fill:before {content:'\e06c';}.fork:before {content:'\e046';}.box:before {content:'\e06b';}.map_pin_fill:before {content:'\e068';}.bars_alt:before {content:'\e00a';}.volume:before {content:'\e072';}.x_alt:before {content:'\2714';}.link:before {content:'\e077';}.move_vertical:before {content:'\e03b';}.eyedropper:before {content:'\e01e';}.spin:before {content:'\e036';}.rss:before {content:'\e02c';}.info:before {content:'\2139';}.target:before {content:'\e02a';}.cursor:before {content:'\e057';}.key_fill:before {content:'\26bf';}.minus:before {content:'\2796';}.book_alt:before {content:'\e00b';}.headphones:before {content:'\e061';}.hash:before {content:'\0023';}.arrow_left_alt1:before {content:'\e013';}.arrow_left_alt2:before {content:'\e017';}.fullscreen_exit:before {content:'\e050';}.share:before {content:'\e02e';}.fullscreen_alt:before {content:'\e04f';}.comment_alt2_fill:before {content:'\e004';}.moon_fill:before {content:'\263e';}.at:before {content:'\0040';}.chat:before {content:'\e05e';}.move_vertical_alt2:before {content:'\e03d';}.move_vertical_alt1:before {content:'\e03c';}.check:before {content:'\2717';}.mic:before {content:'\e05f';}.book:before {content:'\e069';}.move_alt1:before {content:'\e03f';}.move_alt2:before {content:'\e040';}.document_fill:before {content:'\e066';}.plus:before {content:'\2795';}.wrench:before {content:'\e078';}.play:before {content:'\e047';}.star:before {content:'\2605';}.document_alt_fill:before {content:'\e000';}.chart:before {content:'\e028';}.rain:before {content:'\26c6';}.folder_fill:before {content:'\e065';}.new_window:before {content:'\e059';}.user:before {content:'\e062';}.battery_half:before {content:'\e05b';}.aperture_alt:before {content:'\e00c';}.eject:before {content:'\e04b';}.arrow_down_alt1:before {content:'\e016';}.pilcrow:before {content:'\00b6';}.arrow_down_alt2:before {content:'\e01a';}.arrow_right_alt1:before {content:'\e015';}.arrow_right_alt2:before {content:'\e019';}.rss_alt:before {content:'\e02d';}.spin_alt:before {content:'\e037';}.sun_fill:before {content:'\2600';}




body {
  background: url("../images/background.png") center center no-repeat;
  background-size:cover;
  width:100%;
  height:1000px;
  overflow:hidden;
}

.message{
  width:100%;
  background: #fff;
  height:40px;
  margin:0 auto;
  bottom:0;
  text-align:center;
  left:0;
    & h2{
      padding:10px 0;
      font-family: 'SourceSansProRegular', sans-serif;
      font-size:18px;
    }
    & a{
      color:#ff4c4b;
    }
}

.container{
  width:960px;
  margin: 50px auto;
}
.login {
  background: #fff;
  border-radius: 10px;
  width: 400px;
  height: 350px;
  -webkit-box-shadow:  0px 0px 14px 2px rgba(0, 0, 0, .2);
  box-shadow:  0px 0px 14px 2px rgba(0, 0, 0, .2);

  & header{
    background: #97ce68;
    height:50px;
    text-align: center;
    border-radius: 10px 10px 0 0;
      & h1{
      color:#fff;
      text-transform: uppercase;
      font-family: 'SourceSansProBold', sans-serif;
      font-size:24px;
      padding-top: 15px;
      }
  }

   & .login-form{
    display:block;
    position:absolute;
    padding: 15px 10px 0;
     & li{
        list-style: none outside none;

        .InputIcon {
        border-right: 1px solid #94846e;
        background: #edede4;
        color: black;
        display: block;
        height: 40px;
        padding: 10px;
        position: absolute;
        left: 21px;
        text-align: center;
        top: 26px;
        width: 35px;
        z-index:1;
        border-radius: 4px 0 0 4px;
          span {
              color: #bdbab4;
              font-size: 40px;
              position: relative;

          }

        }

        .InputIcon2 {
        border-right: 1px solid #94846e;
        background: #edede4;
        color: black;
        display: block;
        height: 40px;
        padding: 10px;
        position: absolute;
        left: 21px;
        text-align: center;
        top: 108px;
        width: 35px;
        z-index:1;
        border-radius: 4px 0 0 4px;
          span {
              color: #bdbab4;
              font-size: 40px;
              position: relative;
          }

        }

        input{
        width:290px;
        height:55px;
        padding:5px 10px 0 60px;
        margin:10px 10px;
        border: 1px solid #94846e;
        border-radius: 4px 4px 4px 4px;
        font-family: 'SourceSansProLight', sans-serif;
        font-size:24px;
        position: relative;
        }
    }
  }

  & footer{
    clear:both;
    background: #edede4;
    height: 120px;
    margin: 180px 0 0;
    border-radius: 0 0 10px 10px ;


    .buttons{
      display: inline-block;
      position:absolute;
      margin: 15px 20px;
      background: #ff6766;
      border-radius: 4px 4px 4px 4px;
      font-family: 'SourceSansProBold', sans-serif;
      font-size: 24px;
      color:#fff;
      padding:27px 121px;
      -webkit-box-shadow: 0px 6px 0px #ff4c4b;
      -moz-box-shadow: 0px 6px 0px #ff4c4b;
      box-shadow: 0px 6px 0px #ff4c4b;
    }
    a{
      text-decoration:none;
      vertical-align:middle;

    }

    .pla{
      color: #ff4c4b;
      font-size: 40px;
      padding: 0 10px 0 0;
      vertical-align:middle;
    }


  }
}

.search {
  margin: 20px 0;


    & input{
    position: absolute;
    background:#fff;
    border-radius: 10px 0 0 10px;
    border:1px solid #fff;
    width: 240px;
    height: 55px;
    font-family: 'SourceSansProLight', sans-serif;
    font-size:24px;
    padding: 5px 10px 0 20px;
    -webkit-box-shadow:  0px 0px 14px 2px rgba(0, 0, 0, .2);
    box-shadow:  0px 0px 14px 2px rgba(0, 0, 0, .2);
    }
    .InputIcon {
        background: #97ce68;
        color: #fff;
        display: block;
        height: 33px;
        padding: 15px;
        position: relative;
        left: 267px;
        text-align: center;
        top: 0;
        width: 104px;
        z-index:1;
        border-radius: 0 10px 10px 0;
          span {
              color: #fff;
              font-size: 40px;
              position: relative;

          }

        }
}
