/* line 4, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 20, ../sass/screen.scss */
body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 51, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-weight: normal;
  color: #222222;
}
/* line 52, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 img, body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
/* line 53, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 54, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 55, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 56, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 57, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 58, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 59, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p {
  margin: 0 0 1.5em;
}
/* line 60, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 62, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp a {
  text-decoration: underline;
  color: #0066cc;
}
/* line 18, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:visited {
  color: #004c99;
}
/* line 21, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:focus {
  color: #0099ff;
}
/* line 24, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:hover {
  color: #0099ff;
}
/* line 27, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:active {
  color: #bf00ff;
}
/* line 63, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 64, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp strong, body.bp dfn {
  font-weight: bold;
}
/* line 65, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp em, body.bp dfn {
  font-style: italic;
}
/* line 66, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp sup, body.bp sub {
  line-height: 0;
}
/* line 67, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666666;
}
/* line 68, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 69, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp del {
  color: #666666;
}
/* line 70, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 71, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre, body.bp code, body.bp tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 72, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp li ul, body.bp li ol {
  margin: 0;
}
/* line 73, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
/* line 74, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul {
  list-style-type: disc;
}
/* line 75, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ol {
  list-style-type: decimal;
}
/* line 76, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl dt {
  font-weight: bold;
}
/* line 78, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dd {
  margin-left: 1.5em;
}
/* line 79, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 80, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th {
  font-weight: bold;
}
/* line 81, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp thead th {
  background: #c3d9ff;
}
/* line 82, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
/* line 85, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table.striped tr:nth-child(even) td,
body.bp table tr.even td {
  background: #e5ecf9;
}
/* line 86, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp tfoot {
  font-style: italic;
}
/* line 87, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp caption {
  background: #eeeeee;
}
/* line 88, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .quiet {
  color: #666666;
}
/* line 89, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .loud {
  color: #111111;
}
/* line 9, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clear {
  clear: both;
}
/* line 12, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 25, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body.bp .showgrid {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0% 50%, 960 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(3.125%, rgba(100, 100, 225, 0.25)), color-stop(3.125%, rgba(0, 0, 0, 0)), color-stop(4.16667%, rgba(0, 0, 0, 0)), color-stop(4.16667%, rgba(100, 100, 225, 0.25)), color-stop(7.29167%, rgba(100, 100, 225, 0.25)), color-stop(7.29167%, rgba(0, 0, 0, 0)), color-stop(8.33333%, rgba(0, 0, 0, 0)), color-stop(8.33333%, rgba(100, 100, 225, 0.25)), color-stop(11.45833%, rgba(100, 100, 225, 0.25)), color-stop(11.45833%, rgba(0, 0, 0, 0)), color-stop(12.5%, rgba(0, 0, 0, 0)), color-stop(12.5%, rgba(100, 100, 225, 0.25)), color-stop(15.625%, rgba(100, 100, 225, 0.25)), color-stop(15.625%, rgba(0, 0, 0, 0)), color-stop(16.66667%, rgba(0, 0, 0, 0)), color-stop(16.66667%, rgba(100, 100, 225, 0.25)), color-stop(19.79167%, rgba(100, 100, 225, 0.25)), color-stop(19.79167%, rgba(0, 0, 0, 0)), color-stop(20.83333%, rgba(0, 0, 0, 0)), color-stop(20.83333%, rgba(100, 100, 225, 0.25)), color-stop(23.95833%, rgba(100, 100, 225, 0.25)), color-stop(23.95833%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(100, 100, 225, 0.25)), color-stop(28.125%, rgba(100, 100, 225, 0.25)), color-stop(28.125%, rgba(0, 0, 0, 0)), color-stop(29.16667%, rgba(0, 0, 0, 0)), color-stop(29.16667%, rgba(100, 100, 225, 0.25)), color-stop(32.29167%, rgba(100, 100, 225, 0.25)), color-stop(32.29167%, rgba(0, 0, 0, 0)), color-stop(33.33333%, rgba(0, 0, 0, 0)), color-stop(33.33333%, rgba(100, 100, 225, 0.25)), color-stop(36.45833%, rgba(100, 100, 225, 0.25)), color-stop(36.45833%, rgba(0, 0, 0, 0)), color-stop(37.5%, rgba(0, 0, 0, 0)), color-stop(37.5%, rgba(100, 100, 225, 0.25)), color-stop(40.625%, rgba(100, 100, 225, 0.25)), color-stop(40.625%, rgba(0, 0, 0, 0)), color-stop(41.66667%, rgba(0, 0, 0, 0)), color-stop(41.66667%, rgba(100, 100, 225, 0.25)), color-stop(44.79167%, rgba(100, 100, 225, 0.25)), color-stop(44.79167%, rgba(0, 0, 0, 0)), color-stop(45.83333%, rgba(0, 0, 0, 0)), color-stop(45.83333%, rgba(100, 100, 225, 0.25)), color-stop(48.95833%, rgba(100, 100, 225, 0.25)), color-stop(48.95833%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(100, 100, 225, 0.25)), color-stop(53.125%, rgba(100, 100, 225, 0.25)), color-stop(53.125%, rgba(0, 0, 0, 0)), color-stop(54.16667%, rgba(0, 0, 0, 0)), color-stop(54.16667%, rgba(100, 100, 225, 0.25)), color-stop(57.29167%, rgba(100, 100, 225, 0.25)), color-stop(57.29167%, rgba(0, 0, 0, 0)), color-stop(58.33333%, rgba(0, 0, 0, 0)), color-stop(58.33333%, rgba(100, 100, 225, 0.25)), color-stop(61.45833%, rgba(100, 100, 225, 0.25)), color-stop(61.45833%, rgba(0, 0, 0, 0)), color-stop(62.5%, rgba(0, 0, 0, 0)), color-stop(62.5%, rgba(100, 100, 225, 0.25)), color-stop(65.625%, rgba(100, 100, 225, 0.25)), color-stop(65.625%, rgba(0, 0, 0, 0)), color-stop(66.66667%, rgba(0, 0, 0, 0)), color-stop(66.66667%, rgba(100, 100, 225, 0.25)), color-stop(69.79167%, rgba(100, 100, 225, 0.25)), color-stop(69.79167%, rgba(0, 0, 0, 0)), color-stop(70.83333%, rgba(0, 0, 0, 0)), color-stop(70.83333%, rgba(100, 100, 225, 0.25)), color-stop(73.95833%, rgba(100, 100, 225, 0.25)), color-stop(73.95833%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(100, 100, 225, 0.25)), color-stop(78.125%, rgba(100, 100, 225, 0.25)), color-stop(78.125%, rgba(0, 0, 0, 0)), color-stop(79.16667%, rgba(0, 0, 0, 0)), color-stop(79.16667%, rgba(100, 100, 225, 0.25)), color-stop(82.29167%, rgba(100, 100, 225, 0.25)), color-stop(82.29167%, rgba(0, 0, 0, 0)), color-stop(83.33333%, rgba(0, 0, 0, 0)), color-stop(83.33333%, rgba(100, 100, 225, 0.25)), color-stop(86.45833%, rgba(100, 100, 225, 0.25)), color-stop(86.45833%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(100, 100, 225, 0.25)), color-stop(90.625%, rgba(100, 100, 225, 0.25)), color-stop(90.625%, rgba(0, 0, 0, 0)), color-stop(91.66667%, rgba(0, 0, 0, 0)), color-stop(91.66667%, rgba(100, 100, 225, 0.25)), color-stop(94.79167%, rgba(100, 100, 225, 0.25)), color-stop(94.79167%, rgba(0, 0, 0, 0)), color-stop(95.83333%, rgba(0, 0, 0, 0)), color-stop(95.83333%, rgba(100, 100, 225, 0.25)), color-stop(98.95833%, rgba(100, 100, 225, 0.25)), color-stop(98.95833%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(100, 100, 225, 0.25) 40px, rgba(100, 100, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(100, 100, 225, 0.25) 200px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(100, 100, 225, 0.25) 280px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(100, 100, 225, 0.25) 520px, rgba(100, 100, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(100, 100, 225, 0.25) 640px, rgba(100, 100, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(100, 100, 225, 0.25) 680px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(100, 100, 225, 0.25) 760px, rgba(100, 100, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(100, 100, 225, 0.25) 800px, rgba(100, 100, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(100, 100, 225, 0.25) 840px, rgba(100, 100, 225, 0.25) 870px, rgba(0, 0, 0, 0) 870px, rgba(0, 0, 0, 0) 880px, rgba(100, 100, 225, 0.25) 880px, rgba(100, 100, 225, 0.25) 910px, rgba(0, 0, 0, 0) 910px, rgba(0, 0, 0, 0) 920px, rgba(100, 100, 225, 0.25) 920px, rgba(100, 100, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(100, 100, 225, 0.25) 40px, rgba(100, 100, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(100, 100, 225, 0.25) 200px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(100, 100, 225, 0.25) 280px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(100, 100, 225, 0.25) 520px, rgba(100, 100, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(100, 100, 225, 0.25) 640px, rgba(100, 100, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(100, 100, 225, 0.25) 680px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(100, 100, 225, 0.25) 760px, rgba(100, 100, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(100, 100, 225, 0.25) 800px, rgba(100, 100, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(100, 100, 225, 0.25) 840px, rgba(100, 100, 225, 0.25) 870px, rgba(0, 0, 0, 0) 870px, rgba(0, 0, 0, 0) 880px, rgba(100, 100, 225, 0.25) 880px, rgba(100, 100, 225, 0.25) 910px, rgba(0, 0, 0, 0) 910px, rgba(0, 0, 0, 0) 920px, rgba(100, 100, 225, 0.25) 920px, rgba(100, 100, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -o-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(100, 100, 225, 0.25) 40px, rgba(100, 100, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(100, 100, 225, 0.25) 200px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(100, 100, 225, 0.25) 280px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(100, 100, 225, 0.25) 520px, rgba(100, 100, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(100, 100, 225, 0.25) 640px, rgba(100, 100, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(100, 100, 225, 0.25) 680px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(100, 100, 225, 0.25) 760px, rgba(100, 100, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(100, 100, 225, 0.25) 800px, rgba(100, 100, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(100, 100, 225, 0.25) 840px, rgba(100, 100, 225, 0.25) 870px, rgba(0, 0, 0, 0) 870px, rgba(0, 0, 0, 0) 880px, rgba(100, 100, 225, 0.25) 880px, rgba(100, 100, 225, 0.25) 910px, rgba(0, 0, 0, 0) 910px, rgba(0, 0, 0, 0) 920px, rgba(100, 100, 225, 0.25) 920px, rgba(100, 100, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(100, 100, 225, 0.25) 40px, rgba(100, 100, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(100, 100, 225, 0.25) 200px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(100, 100, 225, 0.25) 280px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(100, 100, 225, 0.25) 520px, rgba(100, 100, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(100, 100, 225, 0.25) 640px, rgba(100, 100, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(100, 100, 225, 0.25) 680px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(100, 100, 225, 0.25) 760px, rgba(100, 100, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(100, 100, 225, 0.25) 800px, rgba(100, 100, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(100, 100, 225, 0.25) 840px, rgba(100, 100, 225, 0.25) 870px, rgba(0, 0, 0, 0) 870px, rgba(0, 0, 0, 0) 880px, rgba(100, 100, 225, 0.25) 880px, rgba(100, 100, 225, 0.25) 910px, rgba(0, 0, 0, 0) 910px, rgba(0, 0, 0, 0) 920px, rgba(100, 100, 225, 0.25) 920px, rgba(100, 100, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  -webkit-background-size: 100% 18px, auto;
  -moz-background-size: 100% 18px, auto;
  -o-background-size: 100% 18px, auto;
  background-size: 100% 18px, auto;
  background-position: left top;
}
/* line 4, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .feedback, body.bp .error, body.bp .alert, body.bp .notice, body.bp .success, body.bp .info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
}
/* line 5, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error, body.bp .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 27, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error a, body.bp .alert a {
  color: #8a1f11;
}
/* line 7, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 36, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice a {
  color: #514721;
}
/* line 8, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success a {
  color: #264409;
}
/* line 9, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
/* line 54, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .info a {
  color: #205791;
}
/* line 10, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .hide {
  display: none;
}
/* line 11, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .highlight {
  background: yellow;
}
/* line 12, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .added {
  background: #006600;
  color: white;
}
/* line 13, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .removed {
  background: #990000;
  color: white;
}

/* line 18, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp label {
  font-weight: bold;
}
/* line 19, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.title {
  font-size: 1.5em;
}
/* line 29, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  margin: 0.5em 0;
}
/* line 55, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  border: 1px solid #cccccc;
}
/* line 58, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password],
form.bp textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=email]:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus {
  border-color: #666666;
}
/* line 65, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 44, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
/* line 46, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  width: 390px;
  height: 250px;
}
/* line 39, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
/* line 42, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp .border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #dddddd;
}
/* line 45, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp .colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #dddddd;
}
/* line 47, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 49, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
/* line 51, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp form.inline {
  line-height: 3;
}
/* line 6, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp form.inline p {
  margin-bottom: 0;
}

/* line 37, ../sass/screen.scss */
body.two-col #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 40, ../sass/screen.scss */
body.two-col #header, body.two-col #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 147, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #header, * html body.two-col #footer {
  overflow-x: hidden;
}
/* line 43, ../sass/screen.scss */
body.two-col #sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 147, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #sidebar {
  overflow-x: hidden;
}
/* line 48, ../sass/screen.scss */
body.two-col #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
}
/* line 147, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #content {
  overflow-x: hidden;
}

@font-face {
  font-family: 'SourceSansProExtraLight';
  src: url("../fonts/SourceSansPro-ExtraLight-webfont.eot");
  src: url("../fonts/SourceSansPro-ExtraLight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-ExtraLight-webfont.woff") format("woff"), url("../fonts/SourceSansPro-ExtraLight-webfont.ttf") format("truetype"), url("../fonts/SourceSansPro-ExtraLight-webfont.svg#SourceSansProExtraLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProExtraLightItalic';
  src: url("../fonts/SourceSansPro-ExtraLightIt-webfont.eot");
  src: url("../fonts/SourceSansPro-ExtraLightIt-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-ExtraLightIt-webfont.woff") format("woff"), url("../fonts/SourceSansPro-ExtraLightIt-webfont.ttf") format("truetype"), url("../fonts/SourceSansPro-ExtraLightIt-webfont.svg#SourceSansProExtraLightItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProLight';
  src: url("../fonts/SourceSansPro-Light-webfont.eot");
  src: url("../fonts/SourceSansPro-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Light-webfont.woff") format("woff"), url("../fonts/SourceSansPro-Light-webfont.ttf") format("truetype"), url("../fonts/SourceSansPro-Light-webfont.svg#SourceSansProLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProLightItalic';
  src: url("../fonts/SourceSansPro-LightIt-webfont.eot");
  src: url("../fonts/SourceSansPro-LightIt-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-LightIt-webfont.woff") format("woff"), url("../fonts/SourceSansPro-LightIt-webfont.ttf") format("truetype"), url("../fonts/SourceSansPro-LightIt-webfont.svg#SourceSansProLightItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProRegular';
  src: url("../fonts/SourceSansPro-Regular-webfont.eot");
  src: url("../fonts/SourceSansPro-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Regular-webfont.woff") format("woff"), url("../fonts/SourceSansPro-Regular-webfont.ttf") format("truetype"), url("../fonts/SourceSansPro-Regular-webfont.svg#SourceSansProRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProItalic';
  src: url("../fonts/SourceSansPro-It-webfont.eot");
  src: url("../fonts/SourceSansPro-It-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-It-webfont.woff") format("woff"), url("../fonts/SourceSansPro-It-webfont.ttf") format("truetype"), url("../fonts/SourceSansPro-It-webfont.svg#SourceSansProItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProSemibold';
  src: url("../fonts/SourceSansPro-Semibold-webfont.eot");
  src: url("../fonts/SourceSansPro-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Semibold-webfont.woff") format("woff"), url("../fonts/SourceSansPro-Semibold-webfont.ttf") format("truetype"), url("../fonts/SourceSansPro-Semibold-webfont.svg#SourceSansProSemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProSemiboldItalic';
  src: url("../fonts/SourceSansPro-SemiboldIt-webfont.eot");
  src: url("../fonts/SourceSansPro-SemiboldIt-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-SemiboldIt-webfont.woff") format("woff"), url("../fonts/SourceSansPro-SemiboldIt-webfont.ttf") format("truetype"), url("../fonts/SourceSansPro-SemiboldIt-webfont.svg#SourceSansProSemiboldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProBold';
  src: url("../fonts/SourceSansPro-Bold-webfont.eot");
  src: url("../fonts/SourceSansPro-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Bold-webfont.woff") format("woff"), url("../fonts/SourceSansPro-Bold-webfont.ttf") format("truetype"), url("../fonts/SourceSansPro-Bold-webfont.svg#SourceSansProBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProBoldItalic';
  src: url("../fonts/SourceSansPro-BoldIt-webfont.eot");
  src: url("../fonts/SourceSansPro-BoldIt-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-BoldIt-webfont.woff") format("woff"), url("../fonts/SourceSansPro-BoldIt-webfont.ttf") format("truetype"), url("../fonts/SourceSansPro-BoldIt-webfont.svg#SourceSansProBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProBlack';
  src: url("../fonts/SourceSansPro-Black-webfont.eot");
  src: url("../fonts/SourceSansPro-Black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Black-webfont.woff") format("woff"), url("../fonts/SourceSansPro-Black-webfont.ttf") format("truetype"), url("../fonts/SourceSansPro-Black-webfont.svg#SourceSansProBlack") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProBlackItalic';
  src: url("../fonts/SourceSansPro-BlackIt-webfont.eot");
  src: url("../fonts/SourceSansPro-BlackIt-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-BlackIt-webfont.woff") format("woff"), url("../fonts/SourceSansPro-BlackIt-webfont.ttf") format("truetype"), url("../fonts/SourceSansPro-BlackIt-webfont.svg#SourceSansProBlackItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IconicFill';
  src: url("../fonts/iconic_fill.eot");
  src: url("../fonts/iconic_fill.eot?#iefix") format("embedded-opentype"), url("../fonts/iconic_fill.ttf") format("truetype"), url("../fonts/iconic_fill.svg#iconic") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 204, ../sass/screen.scss */
.iconic {
  display: inline-block;
  font-family: 'IconicFill';
}

/* line 204, ../sass/screen.scss */
.lightbulb:before {
  content: '\e063';
}

/* line 204, ../sass/screen.scss */
.equalizer:before {
  content: '\e052';
}

/* line 204, ../sass/screen.scss */
.brush_alt:before {
  content: '\e01c';
}

/* line 204, ../sass/screen.scss */
.move:before {
  content: '\e03e';
}

/* line 204, ../sass/screen.scss */
.tag_fill:before {
  content: '\e02b';
}

/* line 204, ../sass/screen.scss */
.book_alt2:before {
  content: '\e06a';
}

/* line 204, ../sass/screen.scss */
.layers:before {
  content: '\e01f';
}

/* line 204, ../sass/screen.scss */
.chat_alt_fill:before {
  content: '\e007';
}

/* line 204, ../sass/screen.scss */
.layers_alt:before {
  content: '\e020';
}

/* line 204, ../sass/screen.scss */
.cloud_upload:before {
  content: '\e045';
}

/* line 204, ../sass/screen.scss */
.chart_alt:before {
  content: '\e029';
}

/* line 204, ../sass/screen.scss */
.fullscreen_exit_alt:before {
  content: '\e051';
}

/* line 204, ../sass/screen.scss */
.cloud_download:before {
  content: '\e044';
}

/* line 204, ../sass/screen.scss */
.paperclip:before {
  content: '\e08a';
}

/* line 204, ../sass/screen.scss */
.heart_fill:before {
  content: '\2764';
}

/* line 204, ../sass/screen.scss */
.mail:before {
  content: '\2709';
}

/* line 204, ../sass/screen.scss */
.pen_alt_fill:before {
  content: '\e005';
}

/* line 204, ../sass/screen.scss */
.check_alt:before {
  content: '\2718';
}

/* line 204, ../sass/screen.scss */
.battery_charging:before {
  content: '\e05d';
}

/* line 204, ../sass/screen.scss */
.lock_fill:before {
  content: '\e075';
}

/* line 204, ../sass/screen.scss */
.stop:before {
  content: '\e04a';
}

/* line 204, ../sass/screen.scss */
.arrow_up:before {
  content: '\2191';
}

/* line 204, ../sass/screen.scss */
.move_horizontal:before {
  content: '\e038';
}

/* line 204, ../sass/screen.scss */
.compass:before {
  content: '\e021';
}

/* line 204, ../sass/screen.scss */
.minus_alt:before {
  content: '\e009';
}

/* line 204, ../sass/screen.scss */
.battery_empty:before {
  content: '\e05c';
}

/* line 204, ../sass/screen.scss */
.comment_fill:before {
  content: '\e06d';
}

/* line 204, ../sass/screen.scss */
.map_pin_alt:before {
  content: '\e002';
}

/* line 204, ../sass/screen.scss */
.question_mark:before {
  content: '\003f';
}

/* line 204, ../sass/screen.scss */
.list:before {
  content: '\e055';
}

/* line 204, ../sass/screen.scss */
.upload:before {
  content: '\e043';
}

/* line 204, ../sass/screen.scss */
.reload:before {
  content: '\e030';
}

/* line 204, ../sass/screen.scss */
.loop_alt4:before {
  content: '\e035';
}

/* line 204, ../sass/screen.scss */
.loop_alt3:before {
  content: '\e034';
}

/* line 204, ../sass/screen.scss */
.loop_alt2:before {
  content: '\e033';
}

/* line 204, ../sass/screen.scss */
.loop_alt1:before {
  content: '\e032';
}

/* line 204, ../sass/screen.scss */
.left_quote:before {
  content: '\275d';
}

/* line 204, ../sass/screen.scss */
.x:before {
  content: '\2713';
}

/* line 204, ../sass/screen.scss */
.last:before {
  content: '\e04d';
}

/* line 204, ../sass/screen.scss */
.bars:before {
  content: '\e06f';
}

/* line 204, ../sass/screen.scss */
.arrow_left:before {
  content: '\2190';
}

/* line 204, ../sass/screen.scss */
.arrow_down:before {
  content: '\2193';
}

/* line 204, ../sass/screen.scss */
.download:before {
  content: '\e042';
}

/* line 204, ../sass/screen.scss */
.home:before {
  content: '\2302';
}

/* line 204, ../sass/screen.scss */
.calendar:before {
  content: '\e001';
}

/* line 204, ../sass/screen.scss */
.right_quote_alt:before {
  content: '\e012';
}

/* line 204, ../sass/screen.scss */
.unlock_fill:before {
  content: '\e076';
}

/* line 204, ../sass/screen.scss */
.fullscreen:before {
  content: '\e04e';
}

/* line 204, ../sass/screen.scss */
.dial:before {
  content: '\e058';
}

/* line 204, ../sass/screen.scss */
.plus_alt:before {
  content: '\e008';
}

/* line 204, ../sass/screen.scss */
.clock:before {
  content: '\e079';
}

/* line 204, ../sass/screen.scss */
.movie:before {
  content: '\e060';
}

/* line 204, ../sass/screen.scss */
.steering_wheel:before {
  content: '\e024';
}

/* line 204, ../sass/screen.scss */
.pen:before {
  content: '\270e';
}

/* line 204, ../sass/screen.scss */
.pin:before {
  content: '\e067';
}

/* line 204, ../sass/screen.scss */
.denied:before {
  content: '\26d4';
}

/* line 204, ../sass/screen.scss */
.left_quote_alt:before {
  content: '\e011';
}

/* line 204, ../sass/screen.scss */
.volume_mute:before {
  content: '\e071';
}

/* line 204, ../sass/screen.scss */
.umbrella:before {
  content: '\2602';
}

/* line 204, ../sass/screen.scss */
.list_nested:before {
  content: '\e056';
}

/* line 204, ../sass/screen.scss */
.arrow_up_alt1:before {
  content: '\e014';
}

/* line 204, ../sass/screen.scss */
.undo:before {
  content: '\e02f';
}

/* line 204, ../sass/screen.scss */
.pause:before {
  content: '\e049';
}

/* line 204, ../sass/screen.scss */
.bolt:before {
  content: '\26a1';
}

/* line 204, ../sass/screen.scss */
.article:before {
  content: '\e053';
}

/* line 204, ../sass/screen.scss */
.read_more:before {
  content: '\e054';
}

/* line 204, ../sass/screen.scss */
.beaker:before {
  content: '\e023';
}

/* line 204, ../sass/screen.scss */
.beaker_alt:before {
  content: '\e010';
}

/* line 204, ../sass/screen.scss */
.battery_full:before {
  content: '\e073';
}

/* line 204, ../sass/screen.scss */
.arrow_right:before {
  content: '\2192';
}

/* line 204, ../sass/screen.scss */
.iphone:before {
  content: '\e06e';
}

/* line 204, ../sass/screen.scss */
.arrow_up_alt2:before {
  content: '\e018';
}

/* line 204, ../sass/screen.scss */
.cog:before {
  content: '\2699';
}

/* line 204, ../sass/screen.scss */
.award_fill:before {
  content: '\e022';
}

/* line 204, ../sass/screen.scss */
.first:before {
  content: '\e04c';
}

/* line 204, ../sass/screen.scss */
.trash_fill:before {
  content: '\e05a';
}

/* line 204, ../sass/screen.scss */
.image:before {
  content: '\e027';
}

/* line 204, ../sass/screen.scss */
.comment_alt1_fill:before {
  content: '\e003';
}

/* line 204, ../sass/screen.scss */
.cd:before {
  content: '\e064';
}

/* line 204, ../sass/screen.scss */
.right_quote:before {
  content: '\275e';
}

/* line 204, ../sass/screen.scss */
.brush:before {
  content: '\e01b';
}

/* line 204, ../sass/screen.scss */
.cloud:before {
  content: '\2601';
}

/* line 204, ../sass/screen.scss */
.eye:before {
  content: '\e025';
}

/* line 204, ../sass/screen.scss */
.play_alt:before {
  content: '\e048';
}

/* line 204, ../sass/screen.scss */
.transfer:before {
  content: '\e041';
}

/* line 204, ../sass/screen.scss */
.pen_alt2:before {
  content: '\e006';
}

/* line 204, ../sass/screen.scss */
.camera:before {
  content: '\e070';
}

/* line 204, ../sass/screen.scss */
.move_horizontal_alt2:before {
  content: '\e03a';
}

/* line 204, ../sass/screen.scss */
.curved_arrow:before {
  content: '\2935';
}

/* line 204, ../sass/screen.scss */
.move_horizontal_alt1:before {
  content: '\e039';
}

/* line 204, ../sass/screen.scss */
.aperture:before {
  content: '\e026';
}

/* line 204, ../sass/screen.scss */
.reload_alt:before {
  content: '\e031';
}

/* line 204, ../sass/screen.scss */
.magnifying_glass:before {
  content: '\e074';
}

/* line 204, ../sass/screen.scss */
.calendar_alt_fill:before {
  content: '\e06c';
}

/* line 204, ../sass/screen.scss */
.fork:before {
  content: '\e046';
}

/* line 204, ../sass/screen.scss */
.box:before {
  content: '\e06b';
}

/* line 204, ../sass/screen.scss */
.map_pin_fill:before {
  content: '\e068';
}

/* line 204, ../sass/screen.scss */
.bars_alt:before {
  content: '\e00a';
}

/* line 204, ../sass/screen.scss */
.volume:before {
  content: '\e072';
}

/* line 204, ../sass/screen.scss */
.x_alt:before {
  content: '\2714';
}

/* line 204, ../sass/screen.scss */
.link:before {
  content: '\e077';
}

/* line 204, ../sass/screen.scss */
.move_vertical:before {
  content: '\e03b';
}

/* line 204, ../sass/screen.scss */
.eyedropper:before {
  content: '\e01e';
}

/* line 204, ../sass/screen.scss */
.spin:before {
  content: '\e036';
}

/* line 204, ../sass/screen.scss */
.rss:before {
  content: '\e02c';
}

/* line 204, ../sass/screen.scss */
.info:before {
  content: '\2139';
}

/* line 204, ../sass/screen.scss */
.target:before {
  content: '\e02a';
}

/* line 204, ../sass/screen.scss */
.cursor:before {
  content: '\e057';
}

/* line 204, ../sass/screen.scss */
.key_fill:before {
  content: '\26bf';
}

/* line 204, ../sass/screen.scss */
.minus:before {
  content: '\2796';
}

/* line 204, ../sass/screen.scss */
.book_alt:before {
  content: '\e00b';
}

/* line 204, ../sass/screen.scss */
.headphones:before {
  content: '\e061';
}

/* line 204, ../sass/screen.scss */
.hash:before {
  content: '\0023';
}

/* line 204, ../sass/screen.scss */
.arrow_left_alt1:before {
  content: '\e013';
}

/* line 204, ../sass/screen.scss */
.arrow_left_alt2:before {
  content: '\e017';
}

/* line 204, ../sass/screen.scss */
.fullscreen_exit:before {
  content: '\e050';
}

/* line 204, ../sass/screen.scss */
.share:before {
  content: '\e02e';
}

/* line 204, ../sass/screen.scss */
.fullscreen_alt:before {
  content: '\e04f';
}

/* line 204, ../sass/screen.scss */
.comment_alt2_fill:before {
  content: '\e004';
}

/* line 204, ../sass/screen.scss */
.moon_fill:before {
  content: '\263e';
}

/* line 204, ../sass/screen.scss */
.at:before {
  content: '\0040';
}

/* line 204, ../sass/screen.scss */
.chat:before {
  content: '\e05e';
}

/* line 204, ../sass/screen.scss */
.move_vertical_alt2:before {
  content: '\e03d';
}

/* line 204, ../sass/screen.scss */
.move_vertical_alt1:before {
  content: '\e03c';
}

/* line 204, ../sass/screen.scss */
.check:before {
  content: '\2717';
}

/* line 204, ../sass/screen.scss */
.mic:before {
  content: '\e05f';
}

/* line 204, ../sass/screen.scss */
.book:before {
  content: '\e069';
}

/* line 204, ../sass/screen.scss */
.move_alt1:before {
  content: '\e03f';
}

/* line 204, ../sass/screen.scss */
.move_alt2:before {
  content: '\e040';
}

/* line 204, ../sass/screen.scss */
.document_fill:before {
  content: '\e066';
}

/* line 204, ../sass/screen.scss */
.plus:before {
  content: '\2795';
}

/* line 204, ../sass/screen.scss */
.wrench:before {
  content: '\e078';
}

/* line 204, ../sass/screen.scss */
.play:before {
  content: '\e047';
}

/* line 204, ../sass/screen.scss */
.star:before {
  content: '\2605';
}

/* line 204, ../sass/screen.scss */
.document_alt_fill:before {
  content: '\e000';
}

/* line 204, ../sass/screen.scss */
.chart:before {
  content: '\e028';
}

/* line 204, ../sass/screen.scss */
.rain:before {
  content: '\26c6';
}

/* line 204, ../sass/screen.scss */
.folder_fill:before {
  content: '\e065';
}

/* line 204, ../sass/screen.scss */
.new_window:before {
  content: '\e059';
}

/* line 204, ../sass/screen.scss */
.user:before {
  content: '\e062';
}

/* line 204, ../sass/screen.scss */
.battery_half:before {
  content: '\e05b';
}

/* line 204, ../sass/screen.scss */
.aperture_alt:before {
  content: '\e00c';
}

/* line 204, ../sass/screen.scss */
.eject:before {
  content: '\e04b';
}

/* line 204, ../sass/screen.scss */
.arrow_down_alt1:before {
  content: '\e016';
}

/* line 204, ../sass/screen.scss */
.pilcrow:before {
  content: '\00b6';
}

/* line 204, ../sass/screen.scss */
.arrow_down_alt2:before {
  content: '\e01a';
}

/* line 204, ../sass/screen.scss */
.arrow_right_alt1:before {
  content: '\e015';
}

/* line 204, ../sass/screen.scss */
.arrow_right_alt2:before {
  content: '\e019';
}

/* line 204, ../sass/screen.scss */
.rss_alt:before {
  content: '\e02d';
}

/* line 204, ../sass/screen.scss */
.spin_alt:before {
  content: '\e037';
}

/* line 204, ../sass/screen.scss */
.sun_fill:before {
  content: '\2600';
}

/* line 209, ../sass/screen.scss */
body {
  background: url("../images/background.png") center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 1000px;
  overflow: hidden;
}

/* line 217, ../sass/screen.scss */
.message {
  width: 100%;
  background: #fff;
  height: 40px;
  margin: 0 auto;
  bottom: 0;
  text-align: center;
  left: 0;
}
/* line 225, ../sass/screen.scss */
.message h2 {
  padding: 10px 0;
  font-family: 'SourceSansProRegular', sans-serif;
  font-size: 18px;
}
/* line 230, ../sass/screen.scss */
.message a {
  color: #ff4c4b;
}

/* line 235, ../sass/screen.scss */
.container {
  width: 960px;
  margin: 50px auto;
}

/* line 239, ../sass/screen.scss */
.login {
  background: #fff;
  border-radius: 10px;
  width: 400px;
  height: 350px;
  -webkit-box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.2);
}
/* line 247, ../sass/screen.scss */
.login header {
  background: #97ce68;
  height: 50px;
  text-align: center;
  border-radius: 10px 10px 0 0;
}
/* line 252, ../sass/screen.scss */
.login header h1 {
  color: #fff;
  text-transform: uppercase;
  font-family: 'SourceSansProBold', sans-serif;
  font-size: 24px;
  padding-top: 15px;
}
/* line 261, ../sass/screen.scss */
.login .login-form {
  display: block;
  position: absolute;
  padding: 15px 10px 0;
}
/* line 265, ../sass/screen.scss */
.login .login-form li {
  list-style: none outside none;
}
/* line 268, ../sass/screen.scss */
.login .login-form li .InputIcon {
  border-right: 1px solid #94846e;
  background: #edede4;
  color: black;
  display: block;
  height: 40px;
  padding: 10px;
  position: absolute;
  left: 21px;
  text-align: center;
  top: 26px;
  width: 35px;
  z-index: 1;
  border-radius: 4px 0 0 4px;
}
/* line 282, ../sass/screen.scss */
.login .login-form li .InputIcon span {
  color: #bdbab4;
  font-size: 40px;
  position: relative;
}
/* line 291, ../sass/screen.scss */
.login .login-form li .InputIcon2 {
  border-right: 1px solid #94846e;
  background: #edede4;
  color: black;
  display: block;
  height: 40px;
  padding: 10px;
  position: absolute;
  left: 21px;
  text-align: center;
  top: 108px;
  width: 35px;
  z-index: 1;
  border-radius: 4px 0 0 4px;
}
/* line 305, ../sass/screen.scss */
.login .login-form li .InputIcon2 span {
  color: #bdbab4;
  font-size: 40px;
  position: relative;
}
/* line 313, ../sass/screen.scss */
.login .login-form li input {
  width: 240px;
  height: 60px;
  padding: 0 60px 0;
  margin: 10px 10px;
  border: 1px solid #94846e;
  border-radius: 4px 4px 4px 4px;
  font-family: 'SourceSansProLight', sans-serif;
  font-size: 24px;
  position: relative;
}
/* line 327, ../sass/screen.scss */
.login footer {
  clear: both;
  background: #edede4;
  height: 120px;
  margin: 180px 0 0;
  border-radius: 0 0 10px 10px;
}
/* line 335, ../sass/screen.scss */
.login footer .buttons {
  display: inline-block;
  position: absolute;
  margin: 15px 20px;
  background: #ff6766;
  border-radius: 4px 4px 4px 4px;
  font-family: 'SourceSansProBold', sans-serif;
  font-size: 24px;
  color: #fff;
  padding: 27px 121px;
  -webkit-box-shadow: 0px 6px 0px #ff4c4b;
  -moz-box-shadow: 0px 6px 0px #ff4c4b;
  box-shadow: 0px 6px 0px #ff4c4b;
}
/* line 349, ../sass/screen.scss */
.login footer a {
  text-decoration: none;
  vertical-align: middle;
}
/* line 355, ../sass/screen.scss */
.login footer .pla {
  color: #ff4c4b;
  font-size: 40px;
  padding: 0 10px 0 0;
  vertical-align: middle;
}
